@{
    ViewBag.Title = "Contacts";
}

<h3>@ViewBag.Message</h3>

<address>Vasya Pupkin<br>
    124 Conch Street, Bikini Bottom<br>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Vasya.Pupkin@vp.com">Vasya.Pupkin@vp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Vasya.Pupkin@vp.com">Vasya Pupkin@vp.com</a>
</address>