@{
    ViewBag.Title = "About Me";
}

<div>

    <div id="portret" align="center" >
        <img src="~/Content/Images/portret.jpg" width="189" height="255" style="position:relative; top: 10px;" />
    </div>
    <div id="essay" align="center" position="absolute">
        <h2>
            Vasya Pupkin
        </h2>
        <div align="center" position="absolute">
            <p align="left">
                I am committed to assisting you create your dream wedding or corporate event.  I listen to your needs, desires and brainstorm with you to make the day even more special.

                I am here to help bring your ideas to life, not to tell you how your wedding or corporate event should be.

                I know that every Bride and Groom is unique.  I will seek to reflect your personality, lifestyle, family traditions, and spiritual beliefs into your special day.
            </p>
            <ul align="left">
                <li>
                    Professional Master of Ceremonies for your Wedding reception
                </li>
                <li>
                    Event proceedings checklist
                </li>
                <li>
                    Assistance with speeches and toasts where required
                </li>
                <li>
                    Personal face to face consultations to discuss your requirements and special requests
                </li>
            </ul>
            <p align="left">
                The primary function of an emcee is to keep your event moving forward by engaging and entertaining the crowd in between activities.
                Finding qualified professionals may be easy… but getting the Right one that suits your event may be a challenge.
                I give you a way to instantly find the emcees you need right in your area. Call me now to request for our emcee profiles for the ones of your interest.
                It’s that simple, easy, affordable to find and book an Emcee for your next event.
            </p>

        </div>
    </div>
</div>

