@{
    ViewBag.Title = "Photos";
}


<div class="group photo">
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/132.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/3.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/4093500.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/5.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/52.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/6 (2).jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/6.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/76.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/foto2_1493.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/Igor-Nikolaev.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/images.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/rt.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/sv1.jpg" /></div>
    <div class="photoswithfriends"><img id="photos" src="~/Content/Images/Photo/2.jpg" /></div>
</div>

<div id="myModal" class="modal">
    <div class="close-window" onclick="document.getElementById('myModal').style.display='none'" >
           <img class="modal-content" id="img01">    
    </div>
</div>

<script>
    var modal = document.getElementById('myModal');
    var images = document.getElementsByTagName('img');
    var modalImg = document.getElementById("img01");

    for (var i = 0; i < images.length; i++) {

        var img = images[i];
        img.onclick = function () {
            modal.style.display = "table";
            modalImg.src = this.src;

        }
    }

    var span = document.getElementsByClassName("close-window")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
