@{
    ViewBag.Title = "Videos";
}


<div class="center-box" style="text-align:center; display:block;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aWqxnonqd9o" frameborder="0" allowfullscreen></iframe>
</div>
<div class="center-box" style="text-align:center; display:block;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8tawLALkCS4" frameborder="0" allowfullscreen></iframe>
</div>
<div class="center-box" >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bgAcU_8_5pQ" frameborder="0" allowfullscreen></iframe>
</div>
